nav{
    background-color: #0f0f0f;
    display:flex;
    justify-content: center;
    align-items: center;

    box-shadow: 2px 3px 3px 2px #003952;
}
nav .navigation{
    display:flex;
}

nav .navigation a{
    font-weight: bold;
    color: white;
    text-decoration: none;

    padding: 1rem 2.4rem;
}

nav .navigation a:hover{
    background-color: #003952;
}

#logo-nav{
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    margin: 0 3vw;
}
.link-logo-nav:hover{
    background-color: #003952;
    padding: 1.2vh 0;
}
